// !compileOnSave

// ------------------------------------
// page top navigation
//

.f-TopNav {
  background-color: $color-dark;
}

.f-TopNav-name {
  margin: 1rem 0;

  color: $color-light;
  font-family: $font-family-headline;
  font-size: map-get($font-size-map, size4);
  text-transform: uppercase;
}

a.f-TopNav-item,
.f-TopNav-item {
  padding: 1.43em; // 20px
  color: $color-light;
  font-family: $font-family-body;
  font-size: map-get($font-size-map, size1);
  letter-spacing: 2;
  text-transform: uppercase;

  &:hover {
    background: none;
    color: $color-accent-light;
  }
}


// ------------------------------------
// Image hero
//

.f-Hero {
  display: block;
  height: 33.375rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--home {
    background-image: url('../img/home.jpg');
  }
}


// ------------------------------------
// Upcoming shows
//

.f-UpcomingShows-headline {
  @extend %section-headline;
}


// ------------------------------------
// Music
//

.f-Music-headline {
  @extend %section-headline;
}


// ------------------------------------
// Gallery
//

.f-Gallery {
  margin-bottom: 2em;
}

.f-Gallery-headline {
  @extend %section-headline;
}

.f-Gallery-img {
  height: auto;
  width: 100%;
}

// @for $i from 1 through 8 {
//   .f-Gallery-link--#{$i} {
//     background-image:url('../../img/thumbs/central-market-#{$i}.jpg');
//   }
// }

// ------------------------------------
//
//

.f-Footer {
  padding: 3em 0;

  background-color: $color-dark;
  color: $color-light;
  font-size: map-get($font-size-map, size1); // 14px
}

.f-Footer-icon {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin-left: 2em;

  fill: $color-light;

  &:hover {
    fill: $color-accent-light;
  }
}
